<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../../styles/forAll.css">
</head>
<body>
<div class="top">
    <h1 style="color: white">Create new Person</h1>
</div>
<form th:method="POST" th:action="@{/people}" th:object="${person}">
    <label style="color: white" for="name">Enter first name, middle name, last name</label>
    <input  type="text" th:field="*{name}" id="name">
    <p style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
    <br>
    <label style="color: white" for="age">Enter age</label>
    <input  type="text" th:field="*{age}" id="age">
    <p style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></p>
    <br>
    <input style="color: rebeccapurple" type="submit" value="Create">
</form>
<div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
</div>
</body>
</html>