<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../../styles/forAll.css">
</head>
<body>
<div class="top">
    <h1 style="color: white">Change Book</h1>
</div>
<form th:method="PATCH" th:action="@{/books/{id}(id=${book.getId()})}" th:object="${book}">
    <label style="color: white" for="title">Enter title</label>
    <input type="text" th:field="*{title}" id="title">
    <p style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
    <br>
    <label style="color: white" for="author">Enter author</label>
    <input  type="text" th:field="*{author}" id="author">
    <p style="color: red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></p>
    <br>
    <label  for="year">Enter date of writing</label>
    <input type="text" th:field="*{year}" id="year">
    <p style="color: red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></p>
    <br>
    <input style="color: blueviolet" type="submit" value="Update">
</form>
<div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
</div>
</body>
</html>j